<main class="main-wrapper" #applyComponent>
    <app-loader></app-loader>
    <!-- [START] Page Content-->
    <div class="grid-container js-ani" appIsAni>
    <div class="top-banner top-banner--apply" style="background-image: url('assets/images/banner/apply.jpg')"></div>
    </div>
    <nav class="grid-container js-ani" aria-label="You are here:" appIsAni>
    <ol class="breadcrumbs" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
        <li class="breadcrumb_item" itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a itemprop="item" routerLink="/"><span itemprop="name">Home</span></a><i class="be-icon be-icon-arrow-right" aria-hidden="true"></i>
        <meta itemprop="position" content="1"/>
        </li>
        <li class="breadcrumb_item" itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Now Page：</span><span itemprop="name">How to Apply</span>
        <meta itemprop="position" content="2"/>
        </li>
    </ol>
    </nav>
    <div class="radius-bar-deco top-right">
    <div class="radius-bar-group">
        <div class="radius-bar size-l opacity-20"></div>
        <div class="radius-bar size-m opacity-25 offset-left-10"></div>
    </div>
    </div>
    <section class="sec-apply js-ani" appIsAni>
    <div class="radius-bar-deco bottom-left">
        <div class="radius-bar-group">
        <div class="radius-bar size-m opacity-10"></div>
        <div class="radius-bar size-s opacity-10 offset-right-10"></div>
        <div class="radius-bar size-xs opacity-10 offset-right-5"></div>
        </div>
    </div>
    <div class="grid-container">
        <h2 class="sec-title__title text-center">How to Apply</h2>
        <p class="sec-title__desc text-center">Apply for a KINTO One vehicle in just 4 easy steps.</p>
        <div class="apply__step js-ani" appIsAni>
        <div class="apply__step__circle circle-icon-box">
            <div class="circle-icon-box__item">
            <div class="circle-icon-box__icon-box is-number"><span class="circle-icon-box__icon-num">1</span>
            </div>
            <div class="circle-icon-box__wrap">
                <h4 class="circle-icon-box__title">Choose the Car That’s Right for You</h4>
                <div class="circle-icon-box__desc">Start by choosing the car you like and that fits your needs—then decide how many years you want to drive it for.
                </div>
            </div>
            </div>
            <div class="circle-icon-box__item">
            <div class="circle-icon-box__icon-box is-number"><span class="circle-icon-box__icon-num">2</span>
            </div>
            <div class="circle-icon-box__wrap">
                <h4 class="circle-icon-box__title">Order online</h4>
                <div class="circle-icon-box__desc">Fill up your personal information and place your order.
                </div>
            </div>
            </div>
            <div class="circle-icon-box__item">
            <div class="circle-icon-box__icon-box is-number"><span class="circle-icon-box__icon-num">3</span>
            </div>
            <div class="circle-icon-box__wrap">
                <h4 class="circle-icon-box__title">Confirmation</h4>
                <div class="circle-icon-box__desc">After we confirm your order and your credit is approved, you’ll receive an email link to pay the security deposit and we’ll arrange a date to deliver the car to your doorstep.
                </div>
            </div>
            </div>
            <div class="circle-icon-box__item">
            <div class="circle-icon-box__icon-box is-number"><span class="circle-icon-box__icon-num">4</span>
            </div>
            <div class="circle-icon-box__wrap">
                <h4 class="circle-icon-box__title">Just Drive!</h4>
                <div class="circle-icon-box__desc">You’ve taken delivery of your new Lexus or Toyota. Just add petrol to start enjoying your dream car!
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="apply__box grid-x">
        <div class="cell small-12 large-auto apply__item card-box">
            <h3 class="apply__item__title">About Kinto</h3>
            <p class="apply__item__txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p><a class="button" href="javascript:;">Learn More</a>
        </div>
        <div class="cell small-12 large-auto apply__item card-box">
            <h3 class="apply__item__title">Frequently Asked Questions</h3>
            <p class="apply__item__txt">Need any more info? Check out our FAQ section to clarify any questions you might have.</p><a class="button" href="javascript:;">Find Out More</a>
        </div>
        </div>
    </div>
    </section>
    <!-- [END] Page Content-->
</main>
