<main class="main-wrapper" #contentComponent>
    <app-loader></app-loader>
    <!-- [START] Page Content-->
    <nav class="grid-container js-ani" aria-label="You are here:" appIsAni>
    <ol class="breadcrumbs" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
        <li class="breadcrumb_item" itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a itemprop="item" routerLink="/"><span itemprop="name">Home</span></a><i class="be-icon be-icon-arrow-right" aria-hidden="true"></i>
        <meta itemprop="position" content="1"/>
        </li>
        <li class="breadcrumb_item" itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a itemprop="item" routerLink="/models"><span itemprop="name">All Models</span></a><i class="be-icon be-icon-arrow-right" aria-hidden="true"></i>
        <meta itemprop="position" content="2"/>
        </li>
        <li class="breadcrumb_item" itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" *ngIf="carInfo"><span class="show-for-sr" aria-current="page">Now Page：</span><span itemprop="name">{{ carInfo.vehicle.name }}</span>
        <meta itemprop="position" content="3"/>
        </li>
    </ol>
    </nav>
    <div class="radius-bar-deco top-right">
    <div class="radius-bar-group">
        <div class="radius-bar size-l opacity-20"></div>
        <div class="radius-bar size-m opacity-25 offset-left-10"></div>
    </div>
    </div>
    <div class="grid-container flex-container js-ani" appIsAni>
    <section class="sec-models models-content flex-content" >
        <div class="radius-bar-deco bottom-left">
            <div class="radius-bar-group">
                <div class="radius-bar size-m opacity-10"></div>
                <div class="radius-bar size-s opacity-10 offset-right-10"></div>
                <div class="radius-bar size-xs opacity-10 offset-right-5"></div>
            </div>
        </div>
        <h2 class="sec-title__title text-center" *ngIf="carInfo">{{ carInfo.vehicle.name }}</h2>
        <h3 class="sec-title__subtitle text-center" *ngIf="carInfo"> 
            <span class="left">{{ carInfo.vehicle.category }}</span>
            <span class="sec-title__divide">|</span>
            <span class="right">{{ carInfo.vehicle.variants[currentVariantId].description }}</span>
        </h3>
        <div class="model__wrap">
            <div class="model__head js-ani" appIsAni>
                <div class="model__cover object-fit" *ngIf="carInfo">
                    <img class="cart__item__cover-img lazyload" src="{{carInfo.vehicle.variants[currentVariantId].vehicleConfigItems[currentColorId].imageUrl}}" alt="{{ carInfo.vehicle.name }}">
                </div>
                <div class="model__config" *ngIf="carInfo">
                    <div class="model__config__item">
                        <div class="model__config__label text-center">Exterior color</div>
                        <h3 class="model__config__title text-center">{{ carInfo.vehicle.variants[currentVariantId].vehicleConfigItems[currentColorId].name }}</h3>
                        <div class="model__config__txt palette">
                            <!-- [START] Colorful Car Content -->
                            <div [ngClass]="{'palette__item': carItem.itemType === 'Color'}" *ngFor="let carItem of carInfo.vehicle.variants[currentVariantId].vehicleConfigItems; let i = index" (click)="currentColorId = i">
                                <label class="palette__icon" *ngIf="carItem.itemType === 'Color' ">
                                    <input class="palette__icon__input" type="radio" name="exterior" value="{{ carItem.name }}" [checked]="i === currentColorId"/>
                                    <div class="palette__icon__label" [ngStyle]="{ 'color': carItem.iconColorCode }">
                                        <span class="palette__icon__label-item" [ngStyle]="{ 'background-color': carItem.iconColorCode }" ></span>
                                    </div>
                                </label>
                            </div>
                            <!-- [END] Colorful Car Content -->
                        </div>
                    </div>
                    <div class="model__config__item" >
                        <div class="model__config__label text-center">Interior</div>
                        <h3 class="model__config__title text-center">{{ carInfo.vehicle.variants[currentVariantId].vehicleConfigItems[currentInteriorId].name}}</h3>
                        <div class="model__config__txt palette">
                            <!-- [START] Interior Car Content -->
                            <div [ngClass]="{'palette__item': carItem.itemType === 'Interior'}" *ngFor="let carItem of carInfo.vehicle.variants[currentVariantId].vehicleConfigItems; let i = index" (click)="currentInteriorId = i">
                                <label class="palette__icon" *ngIf="carItem.itemType === 'Interior' ">
                                    <input class="palette__icon__input" type="radio" name="interior" value="{{ carItem.name }}" [checked]="i === currentInteriorId"/>
                                    <div class="palette__icon__label" style="color: #313131;">
                                        <img class="palette__icon__label-item" [src]="'data:image/jpeg;base64,'+ carItem.imageContent" *ngIf="carItem.imageContent" alt="{{carItem.name}}">
                                        <img class="palette__icon__label-item" [src]="carItem.imageUrl" *ngIf="carItem.imageUrl" alt="{{carItem.name}}">
                                    </div>
                                </label>
                            </div>
                            <!-- [End] Interior Car Content -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="model__sec js-ani" appIsAni >
                <h3 class="model__sec__title text-center">Specs</h3>
                <div class="model__sec__specs" *ngIf="carInfo">
                    <div class="model__sec__specs-item text-center"><span class="highlight">{{ carInfo.vehicle.variants[currentVariantId].seats }}</span>Seats
                    </div>
                    <div class="model__sec__specs-item text-center"><span class="highlight">{{ carInfo.vehicle.variants[currentVariantId].capacity }}</span>Capacity<br>(cc)
                    </div>
                    <div class="model__sec__specs-item text-center"><span class="highlight">{{ carInfo.vehicle.variants[currentVariantId].maxPower }}</span>Max Power<br>(KW(bhp)/rpm)
                    </div>
                    <div class="model__sec__specs-item text-center"><span class="highlight">{{ carInfo.vehicle.variants[currentVariantId].fuelConsumptions }}</span>Fuel consumption<br>(L/100KM)
                    </div>
                </div>
            </div>
            <div class="model__sec js-ani" appIsAni>
                <h3 class="model__sec__title text-center">Feature</h3>
                <div class="flex-center">
                    <ul class="model__sec__list" *ngIf="carInfo" [innerHTML]="carInfo.vehicle.variants[currentVariantId].feature | safeHtml"></ul>
                </div>
            </div>
            <div class="model__sec kinto-one js-ani" appIsAni>
                <h3 class="model__sec__title text-center">KINTO ONE will include</h3>
                <div class="model__sec__circle-icon circle-icon-box">
                    <!-- [Start] Services Array Data -->
                    <div class="circle-icon-box__item" *ngFor="let service of serviceList; let i = index">
                        <div class="circle-icon-box__icon-box"><i class="be-icon absolute-center be-icon-insurance" aria-hidden="true"></i></div>
                        <h4 class="circle-icon-box__title">{{ service.shortDescription }}</h4>
                        <div class="circle-icon-box__desc">
                        </div>
                    </div>
                    <!-- [End] Services Array Data -->
                </div>
            </div>
            <div class="model__sec js-ani" appIsAni>
                <h3 class="model__sec__title text-center">Notice</h3>
                <p class="model__sec__notice">All pictures contained herein are for advertising purpose only, therefore, the actual colors and specifications of vehicles may differ from those contained in this Website due to the different display resolution of each device. The Company reserves the right to make changes to models, colors, specifications, and accessories of the vehicle, without prior notice, as deemed appropriate by the Company. Terms and conditions apply.</p>
            </div>
        </div>
    </section>
    <!-- 1024 以下，變成 fixed 樣式，點擊黑色遮罩與Back按鍵，要移除 .is-open class-->
    <!-- 1024 (含)以上，請移除 is-open-->
    <aside class="sec__aside model__box flex-aside" [ngClass]="{'is-open': openAside}">
        <!-- 1024 (含)以上，請判斷以下兩點：-->
        <!-- 1. 請判斷頁面滑到 aside底下10px 的地方，.sec__aside__inner 加上 is-fixed class-->
        <!-- 2. 不會壓在 footer 上面，請判斷頁面滑到 footer 上方 10px 的位置，移除 is-fixed class，並把當前的 scroll 位置加上去，ex: position: relative top: xxx;。請注意讓這個區塊在「aside底下10px」至「footer 上方 10px 的位置」要能 fixed 住。頁面 onload 高度在這區塊時也要加入判斷。-->
        <!-- 1024以下，請移除 is-fixed-->
        <div class="sec__aside__inner model__box__inner">
        <h2 class="models__aside__title text-center">Details</h2>
        <div class="model__divide"></div>
        <div class="model__config model__config--detial scrollbar-model is-thin">
            <div class="model__config__item">
                <div class="model__config__label">Exterior color</div>
                <div class="model__config__info palette">
                    <div class="palette__item" *ngIf="carInfo">
                        <label class="palette__icon">
                            <div class="palette__icon__label"><span class="palette__icon__label-item" [ngStyle]="{ 'background-color': carInfo.vehicle.variants[currentVariantId].vehicleConfigItems[currentColorId].iconColorCode }"></span>
                            </div>
                        </label>
                        <h3 class="model__config__info-title">{{ carInfo.vehicle.variants[currentVariantId].vehicleConfigItems[currentColorId].name }}</h3>
                    </div>
                </div>
            </div>
            <div class="model__config__item">
                <div class="model__config__label">Interior</div>
                <div class="model__config__info palette">
                    <div class="palette__item" *ngIf="carInfo">
                        <label class="palette__icon">
                            <div class="palette__icon__label">
                                <img class="palette__icon__label-item" [src]="'data:image/jpeg;base64,'+ carInfo.vehicle.variants[currentVariantId].vehicleConfigItems[currentInteriorId].imageContent" *ngIf="carInfo.vehicle.variants[currentVariantId].vehicleConfigItems[currentInteriorId].imageContent" alt="{{carInfo.vehicle.variants[currentVariantId].vehicleConfigItems[currentInteriorId].name}}">
                                <img class="palette__icon__label-item" [src]="carInfo.vehicle.variants[currentVariantId].vehicleConfigItems[currentInteriorId].imageUrl" *ngIf="carInfo.vehicle.variants[currentVariantId].vehicleConfigItems[currentInteriorId].imageUrl" alt="{{carInfo.vehicle.variants[currentVariantId].vehicleConfigItems[currentInteriorId].name}}">
                            </div>
                        </label>
                        <h3 class="model__config__info-title">{{ carInfo.vehicle.variants[currentVariantId].vehicleConfigItems[currentInteriorId].name }}</h3>
                    </div>
                </div>
            </div>
            <div class="model__config__item model__config__item--variant">
                <div class="model__config__label">Variant</div>
                <div class="sort__item" *ngIf="carInfo">
                    <!-- 打開請加上 is-open-->
                    <div class="sort__select" [ngClass]="{'is-open' : isOpenVariantSelector === true}" (click)="isOpenVariantSelector = !isOpenVariantSelector">
                        <div class="sort__select-selected"> 
                            {{ carInfo.vehicle.variants[currentVariantId].name }}<i class="be-icon be-icon-arrow-down" aria-hidden="true"></i>
                        </div>
                        <ul class="sort__select-list scrollbar-ver is-thin">
                            <li class="sort__select-list__item" *ngFor="let variant of carInfo.vehicle.variants ; let i = index" (click)="onChangeVariant(i)"><a class="sort__select-list__link" href="javascript:;">{{ variant.name }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="model__config__item model__config__item--tenure">
            <div class="model__config__label">
                Tenure</div>
            <div class="model__config__info tenure">
                <!-- [Start] tenures Array Data -->
                <div class="tenure__item" *ngFor="let tenure of tenures; let i = index ">
                    <label class="tenure__icon">
                        <input class="tenure__icon__input" type="radio" name="tenure" [checked]="i === currentTenureId" (click)="onChangeTenure(i)"/>
                        <div class="tenure__icon__label">
                        <div class="tenure__icon__label-year">{{ tenure }}</div><span class="tenure__icon__label-txt">years</span>
                        </div>
                    </label>
                </div>
                <!-- [End] tenures Array Data -->
            </div>
            </div>
            <p class="model__config__notice">* Delivery timeframe (Fastest delivery after 1st COE bid). Car will be delivered at your preferred location.</p>
        </div>
        <div class="model__divide"></div>
        <div class="model__config model__config--price" *ngIf="amountInfo">
            <div class="model__config__item">
            <div class="model__config__label">Monthly Rental Amount
                <div class="tooltip-wrapper"><span class="tooltip__icon" data-toggle="tooltip-rental"><i class="be-icon be-icon-notice-circle"></i></span>
                <div class="dropdown-pane" id="tooltip-rental" data-dropdown="data-dropdown" data-position="top" data-alignment="center" data-hover="true" data-hover-pane="true">
                    <div class="tooltip__box"><strong>Note</strong>Monthly rates are subject to 7%GST.  Toyota Financial Services Singapore reserves the right to change the monthly lease rates without prior notice. T&amp;Cs apply.</div>
                </div>
                </div>
            </div>
            <div class="model__config__info">
                <h3 class="model__config__info__title highlight">$ {{ amountInfo.monthlyPaymentAmount | number: '2.'}}</h3>/ month
            </div>
            </div>
            <div class="model__config__item">
            <div class="model__config__label">Refundable Security Deposit
                <div class="tooltip-wrapper"><span class="tooltip__icon" data-toggle="tooltip-refundable"><i class="be-icon be-icon-notice-circle"></i></span>
                <div class="dropdown-pane" id="tooltip-refundable" data-dropdown="data-dropdown" data-position="top" data-alignment="center" data-hover="true" data-hover-pane="true">
                    <div class="tooltip__box"><strong>Note</strong>You will receive a link to make payment for a two months refundable security deposit amount after your credit has been approved. The security deposit will be refunded at the end of the lease tenure. T&amp;Cs apply.</div>
                </div>
                </div>
            </div>
            <div class="model__config__info">
                <h3 class="model__config__info__title">$ {{ amountInfo.securityDepositAmount | number: '2.' }}</h3>
            </div>
            </div>
        </div>
        <div class="model__ctrl text-center"><a class="button" title="Book Now" (click)="onBookNow()">Book Now</a></div>
        </div>
        <div class="model__ctrl--mb">
        <!-- Back 請關掉 aside-->
        <button class="btn-lightest button" (click)="openAside = false">Back</button>
        <a class="button" title="Book Now" (click)="onBookNow()">Next</a>
        </div>
    </aside>
    <!-- 手機版-->
    <!-- 點擊後，aside.sec__aside.flex-aside 請加上 is-open class-->
    <div class="fixed-bottom-nav" (click)="openAside = true">
        <button class="button">Book Now</button>
    </div>
    </div>
    <!-- [END] Page Content-->
    <app-popup [isPopup]="isPopup" (change)="isPopup = false"></app-popup>
</main>
