<main class="main-wrapper">
    <!-- [START] Page Content-->
    <nav class="grid-container js-ani" aria-label="You are here:" appIsAni>
    <ol class="breadcrumbs" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
        <li class="breadcrumb_item" itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a itemprop="item" href="/"><span itemprop="name">Home</span></a><i class="be-icon be-icon-arrow-right" aria-hidden="true"></i>
        <meta itemprop="position" content="1"/>
        </li>
        <li class="breadcrumb_item" itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a itemprop="item" href="models.html"><span itemprop="name">All Models</span></a><i class="be-icon be-icon-arrow-right" aria-hidden="true"></i>
        <meta itemprop="position" content="2"/>
        </li>
        <li class="breadcrumb_item" itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Now Page：</span><span itemprop="name">Corolla Altis</span>
        <meta itemprop="position" content="3"/>
        </li>
    </ol>
    </nav>
    <div class="radius-bar-deco top-right">
    <div class="radius-bar-group">
        <div class="radius-bar size-l opacity-20"></div>
        <div class="radius-bar size-m opacity-25 offset-left-10"></div>
    </div>
    </div>
    <div class="grid-container flex-container js-ani" appIsAni>
    <section class="sec-models models-content flex-content">
        <div class="radius-bar-deco bottom-left">
        <div class="radius-bar-group">
            <div class="radius-bar size-m opacity-10"></div>
            <div class="radius-bar size-s opacity-10 offset-right-10"></div>
            <div class="radius-bar size-xs opacity-10 offset-right-5"></div>
        </div>
        </div>
        <h2 class="sec-title__title text-center">Corolla Altis</h2>
        <h3 class="sec-title__subtitle text-center"> <span class="left">Compact Sedan</span><span class="sec-title__divide">|</span><span class="right">Sleek, sporty, spacious. The perfect city car.</span></h3>
        <div class="model__wrap">
        <div class="model__head js-ani" appIsAni>
            <div class="model__cover object-fit"><img class="cart__item__cover-img lazyload" src="assets/images/products/car_01.png" alt="Corolla Altis"></div>
            <div class="model__config">
            <div class="model__config__item">
                <div class="model__config__label text-center">Exterior color</div>
                <h3 class="model__config__title text-center">Attitude Black Mica</h3>
                <div class="model__config__txt palette">
                <div class="palette__item">
                    <label class="palette__icon">
                    <input class="palette__icon__input" type="radio" name="exterior" value="Red"/>
                    <div class="palette__icon__label" style="color: #eb0a1e;"><span class="palette__icon__label-item" style="background-color: #eb0a1e;"></span>
                    </div>
                    </label>
                </div>
                <div class="palette__item">
                    <label class="palette__icon">
                    <input class="palette__icon__input" type="radio" name="exterior" value="Brown"/>
                    <div class="palette__icon__label" style="color: #745645;"><span class="palette__icon__label-item" style="background-color: #745645;"></span>
                    </div>
                    </label>
                </div>
                <div class="palette__item">
                    <label class="palette__icon">
                    <input class="palette__icon__input" type="radio" name="exterior" value="Black" checked="checked"/>
                    <div class="palette__icon__label" style="color: #000000;"><span class="palette__icon__label-item" style="background-color: #000000;"></span>
                    </div>
                    </label>
                </div>
                <div class="palette__item">
                    <label class="palette__icon">
                    <input class="palette__icon__input" type="radio" name="exterior" value="White"/>
                    <div class="palette__icon__label" style="color: #ffffff;"><span class="palette__icon__label-item" style="background-color: #ffffff;"></span>
                    </div>
                    </label>
                </div>
                <div class="palette__item">
                    <label class="palette__icon">
                    <input class="palette__icon__input" type="radio" name="exterior" value="Grey"/>
                    <div class="palette__icon__label" style="color: #525355;"><span class="palette__icon__label-item" style="background-color: #525355;"></span>
                    </div>
                    </label>
                </div>
                <div class="palette__item">
                    <label class="palette__icon">
                    <input class="palette__icon__input" type="radio" name="exterior" value="Light-Grey"/>
                    <div class="palette__icon__label" style="color: #c6c6c6;"><span class="palette__icon__label-item" style="background-color: #c6c6c6;"></span>
                    </div>
                    </label>
                </div>
                </div>
            </div>
            <div class="model__config__item">
                <div class="model__config__label text-center">Interior</div>
                <h3 class="model__config__title text-center">Standard</h3>
                <div class="model__config__txt palette">
                <div class="palette__item">
                    <label class="palette__icon">
                    <input class="palette__icon__input" type="radio" name="interior" value="Grey__Light-Grey" checked="checked"/>
                    <div class="palette__icon__label" style="color: #313131;"><span class="palette__icon__label-item" style="background-color: #313131;"></span><span class="palette__icon__label-item" style="background-color: #626262;"></span>
                    </div>
                    </label>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="model__sec js-ani" appIsAni>
            <h3 class="model__sec__title text-center">Specs</h3>
            <div class="model__sec__specs">
            <div class="model__sec__specs-item text-center"><span class="highlight">5</span>Seats
            </div>
            <div class="model__sec__specs-item text-center"><span class="highlight">1,798</span>Capacity<br>(cc)
            </div>
            <div class="model__sec__specs-item text-center"><span class="highlight">79(105)/6,000</span>Max Power<br>(KW(bhp)/rpm)
            </div>
            <div class="model__sec__specs-item text-center"><span class="highlight">3.9</span>Fuel consumption<br>(L/100KM)
            </div>
            </div>
        </div>
        <div class="model__sec js-ani" appIsAni>
            <h3 class="model__sec__title text-center">Feature</h3>
            <div class="flex-center">
            <ul class="model__sec__list">
                <li class="model__sec__list-item">Asean NCAP</li>
                <li class="model__sec__list-item">7SRS Airbags</li>
                <li class="model__sec__list-item">Best in Class Cabin Space</li>
                <li class="model__sec__list-item">Smart Entry & Push Start</li>
            </ul>
            </div>
        </div>
        <div class="model__sec kinto-one js-ani" appIsAni>
            <h3 class="model__sec__title text-center">KINTO ONE will include</h3>
            <div class="model__sec__circle-icon circle-icon-box">
            <div class="circle-icon-box__item">
                <div class="circle-icon-box__icon-box"><i class="be-icon absolute-center be-icon-maintenance" aria-hidden="true"></i></div>
                <h4 class="circle-icon-box__title">Full Maintenance Program including pick up and return service</h4>
                <div class="circle-icon-box__desc">
                </div>
            </div>
            <div class="circle-icon-box__item">
                <div class="circle-icon-box__icon-box"><i class="be-icon absolute-center be-icon-insurance" aria-hidden="true"></i></div>
                <h4 class="circle-icon-box__title">Annual renewal of road tax and comprehensive insurance coverage (lessee liable for excess stipulated)</h4>
                <div class="circle-icon-box__desc">
                </div>
            </div>
            <div class="circle-icon-box__item">
                <div class="circle-icon-box__icon-box"><i class="be-icon absolute-center be-icon-road-assistance" aria-hidden="true"></i></div>
                <h4 class="circle-icon-box__title">24/7 roadside auto assistance</h4>
                <div class="circle-icon-box__desc">
                </div>
            </div>
            <div class="circle-icon-box__item">
                <div class="circle-icon-box__icon-box"><i class="be-icon absolute-center be-icon-unlimited" aria-hidden="true"></i></div>
                <h4 class="circle-icon-box__title">Unlimited Mileage</h4>
                <div class="circle-icon-box__desc">
                </div>
            </div>
            <div class="circle-icon-box__item">
                <div class="circle-icon-box__icon-box"><i class="be-icon absolute-center be-icon-backup-cart" aria-hidden="true"></i></div>
                <h4 class="circle-icon-box__title">Replacement vehicle for the vehicle's down time for servicing or accidents</h4>
                <div class="circle-icon-box__desc">
                </div>
            </div>
            <div class="circle-icon-box__item">
                <div class="circle-icon-box__icon-box"><i class="be-icon absolute-center be-icon-cart-camera" aria-hidden="true"></i></div>
                <h4 class="circle-icon-box__title">Solar film and In-car camera</h4>
                <div class="circle-icon-box__desc">
                </div>
            </div>
            </div>
        </div>
        <div class="model__sec js-ani" appIsAni>
            <h3 class="model__sec__title text-center">Notice</h3>
            <p class="model__sec__notice">All pictures contained herein are for advertising purpose only, therefore, the actual colors and specifications of vehicles may differ from those contained in this Website due to the different display resolution of each device. The Company reserves the right to make changes to models, colors, specifications, and accessories of the vehicle, without prior notice, as deemed appropriate by the Company. Terms and conditions apply.</p>
        </div>
        </div>
    </section>
    <!-- 1024 以下，變成 fixed 樣式，點擊黑色遮罩與Back按鍵，要移除 .is-open class-->
    <!-- 1024 (含)以上，請移除 is-open-->
    <aside class="sec__aside model__box flex-aside">
        <!-- 1024 (含)以上，請判斷以下兩點：-->
        <!-- 1. 請判斷頁面滑到 aside底下10px 的地方，.sec__aside__inner 加上 is-fixed class-->
        <!-- 2. 不會壓在 footer 上面，請判斷頁面滑到 footer 上方 10px 的位置，移除 is-fixed class，並把當前的 scroll 位置加上去，ex: position: relative top: xxx;。請注意讓這個區塊在「aside底下10px」至「footer 上方 10px 的位置」要能 fixed 住。頁面 onload 高度在這區塊時也要加入判斷。-->
        <!-- 1024以下，請移除 is-fixed-->
        <div class="sec__aside__inner model__box__inner">
        <h2 class="models__aside__title text-center">Details</h2>
        <div class="model__divide"></div>
        <div class="model__config model__config--detial scrollbar-model is-thin">
            <div class="model__config__item">
            <div class="model__config__label">Exterior color</div>
            <div class="model__config__info palette">
                <div class="palette__item">
                <label class="palette__icon">
                    <div class="palette__icon__label"><span class="palette__icon__label-item" style="background-color: #c6c6c6;"></span>
                    </div>
                </label>
                <h3 class="model__config__info-title">Attitude Black Mica</h3>
                </div>
            </div>
            </div>
            <div class="model__config__item">
            <div class="model__config__label">Interior</div>
            <div class="model__config__info palette">
                <div class="palette__item">
                <label class="palette__icon">
                    <div class="palette__icon__label"><span class="palette__icon__label-item" style="background-color: #313131;"></span><span class="palette__icon__label-item" style="background-color: #626262;"></span>
                    </div>
                </label>
                <h3 class="model__config__info-title">Standard</h3>
                </div>
            </div>
            </div>
            <div class="model__config__item model__config__item--variant">
            <div class="model__config__label">Variant<span class="badge">6</span></div>
            <div class="sort__item">
                <!-- 打開請加上 is-open-->
                <div class="sort__select">
                <div class="sort__select-selected"> 1.2 LUXURY (MONO)<i class="be-icon be-icon-arrow-down" aria-hidden="true"></i></div>
                <ul class="sort__select-list scrollbar-ver is-thin">
                    <li class="sort__select-list__item">1.2 LUXURY (MONO)</li>
                    <li class="sort__select-list__item">1.2 LUXURY (MONO)</li>
                    <li class="sort__select-list__item">1.2 LUXURY (MONO)</li>
                    <li class="sort__select-list__item">1.2 LUXURY (MONO)</li>
                </ul>
                </div>
            </div>
            </div>
            <div class="model__config__item model__config__item--tenure">
            <div class="model__config__label">
                Tenure</div>
            <div class="model__config__info tenure">
                <div class="tenure__item">
                <label class="tenure__icon">
                    <input class="tenure__icon__input" type="radio" name="tenure"/>
                    <div class="tenure__icon__label">
                    <div class="tenure__icon__label-year">3</div><span class="tenure__icon__label-txt">years</span>
                    </div>
                </label>
                </div>
                <div class="tenure__item">
                <label class="tenure__icon">
                    <input class="tenure__icon__input" type="radio" name="tenure" checked="checked"/>
                    <div class="tenure__icon__label">
                    <div class="tenure__icon__label-year">4</div><span class="tenure__icon__label-txt">years</span>
                    </div>
                </label>
                </div>
                <div class="tenure__item">
                <label class="tenure__icon">
                    <input class="tenure__icon__input" type="radio" name="tenure"/>
                    <div class="tenure__icon__label">
                    <div class="tenure__icon__label-year">5</div><span class="tenure__icon__label-txt">years</span>
                    </div>
                </label>
                </div>
            </div>
            </div>
            <p class="model__config__notice">* Delivery timeframe (Fastest delivery after 1st COE bid). Car will be delivered at your preferred location.</p>
        </div>
        <div class="model__divide"></div>
        <div class="model__config model__config--price">
            <div class="model__config__item">
            <div class="model__config__label">Monthly Rental Amount
                <div class="tooltip-wrapper"><span class="tooltip__icon" data-toggle="tooltip-rental"><i class="be-icon be-icon-notice-circle"></i></span>
                <div class="dropdown-pane" id="tooltip-rental" data-dropdown="data-dropdown" data-position="top" data-alignment="center" data-hover="true" data-hover-pane="true">
                    <div class="tooltip__box"><strong>Note</strong>Monthly rates are subject to 7%GST.  Toyota Financial Services Singapore reserves the right to change the monthly lease rates without prior notice. T&amp;Cs apply.</div>
                </div>
                </div>
            </div>
            <div class="model__config__info">
                <h3 class="model__config__info__title highlight">$ 2,780</h3>/ month
            </div>
            </div>
            <div class="model__config__item">
            <div class="model__config__label">Refundable Security Deposit
                <div class="tooltip-wrapper"><span class="tooltip__icon" data-toggle="tooltip-refundable"><i class="be-icon be-icon-notice-circle"></i></span>
                <div class="dropdown-pane" id="tooltip-refundable" data-dropdown="data-dropdown" data-position="top" data-alignment="center" data-hover="true" data-hover-pane="true">
                    <div class="tooltip__box"><strong>Note</strong>You will receive a link to make payment for a two months refundable security deposit amount after your credit has been approved. The security deposit will be refunded at the end of the lease tenure. T&amp;Cs apply.</div>
                </div>
                </div>
            </div>
            <div class="model__config__info">
                <h3 class="model__config__info__title">$ 5,560</h3>
            </div>
            </div>
        </div>
        <div class="model__ctrl text-center"><a class="button" href="term-condition.html" title="Book Now">Book Now</a></div>
        </div>
        <div class="model__ctrl--mb">
        <!-- Back 請關掉 aside-->
        <button class="btn-lightest button">Back</button><a class="button" href="term-condition.html" title="Book Now">Next</a>
        </div>
    </aside>
    <!-- 手機版-->
    <!-- 點擊後，aside.sec__aside.flex-aside 請加上 is-open class-->
    <div class="fixed-bottom-nav">
        <button class="button">Book Now</button>
    </div>
    </div>
    <!-- [END] Page Content-->
</main>
