<main class="main-wrapper" #aboutComponent>
    <app-loader></app-loader>
    <!-- [START] Page Content-->
    <div class="grid-container js-ani" appIsAni>
        <div class="top-banner top-banner--about" [ngStyle]="{backgroundImage:'url(assets/images/banner/about.jpg)'}"></div>
    </div>
    <nav class="grid-container js-ani" aria-label="You are here:" appIsAni>
        <ol class="breadcrumbs" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
            <li class="breadcrumb_item" itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a itemprop="item" routerLink="/"><span itemprop="name">Home</span></a><i class="be-icon be-icon-arrow-right" aria-hidden="true"></i>
                <meta itemprop="position" content="1"/>
            </li>
            <li class="breadcrumb_item" itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Now Page：</span><span itemprop="name">About Kinto</span>
                <meta itemprop="position" content="2"/>
            </li>
        </ol>
    </nav>
    <div class="radius-bar-deco top-right">
        <div class="radius-bar-group">
            <div class="radius-bar size-l opacity-20"></div>
            <div class="radius-bar size-m opacity-25 offset-left-10"></div>
        </div>
    </div>
    <section class="sec-about js-ani" appIsAni>
        <div class="radius-bar-deco bottom-left">
            <div class="radius-bar-group">
            <div class="radius-bar size-m opacity-10"></div>
            <div class="radius-bar size-s opacity-10 offset-right-10"></div>
            <div class="radius-bar size-xs opacity-10 offset-right-5"></div>
            </div>
        </div>
        <div class="grid-container">
            <h2 class="sec-title__title text-center">Mobility as a Service</h2>
            <p class="sec-title__desc">KINTO was first introduced in Japan and is being introduced to Singapore. KINTO ONE is launched under Toyota Financial Services Singapore, which offers online car full-service lease services for long-term car rental for individual, including comprehensive service solution to maximise the freedom under the concept of Freedom to Drive.</p>
            <div class="about__service js-ani" appIsAni>
                <!-- [Start] Reasons Array Data -->
                <div class="about__service__item grid-x" *ngFor="let reason of reasons; let i = index">
                    <div class="about__service__cover">
                        <div class="object-fit">
                            <img class="about__service__cover-img lazyload" [src]="reasons.listingImageUrl" alt="{{reason.title}}"/>
                        </div>
                    </div>
                    <div class="about__service__info">
                        <h3 class="about__service__title">{{ reason.title }}</h3>
                        <p class="about__service__detial">{{ reason.shortDescription }}</p>
                        <div class="about__service__links">
                            <!-- <a class="about__service__link" href="javascript:;">How to Apply</a>
                            <a class="about__service__link" href="javascript:;">All Models</a> -->
                        </div>
                    </div>
                </div>
                <!-- [End] Reasons Array Data -->
            </div>
            <div class="about__feature js-ani" appIsAni>
            <h3 class="about__feature__title text-center">All-in Full Service Package</h3>
            <div class="about__feature__circle circle-icon-box grid-x">
                <!-- [Start] Services Array Data -->
                <div class="cell medium-6 large-4" *ngFor="let service of services; let i = index">
                    <div class="circle-icon-box__item">
                        <div class="circle-icon-box__icon-box">
                            <i class="be-icon absolute-center be-icon-maintenance" aria-hidden="true"></i>
                        </div>
                        <div class="circle-icon-box__wrap">
                            <h4 class="circle-icon-box__title">{{ service.shortDescription }}</h4>
                            <div class="circle-icon-box__desc"></div>
                        </div>
                    </div>
                </div>
                <!-- [End] Services Array Data -->
            </div>
            </div>
            <div class="about__service about__service--models js-ani" appIsAni>
            <div class="about__service__item grid-x">
                <div class="about__service__cover">
                <div class="object-fit"><img class="about__service__cover-img lazyload" src="assets/images/about/img-04.png" alt="New car every 3,4 or 5 years"/></div>
                <div class="about__service__cover-cart"><img class="about__service__cover-cart-img lazyload" src="assets/images/about/car.png" alt="New car every 3,4 or 5 years"/></div>
                </div>
                <div class="about__service__info">
                <h3 class="about__service__title">New car every 3,4 or 5 years</h3>
                <p class="about__service__detial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.</p>
                <div class="about__service__links"><a class="about__service__link" routerLink="/models">All Models</a>
                </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!-- [END] Page Content-->
</main>
