.sec-contact {
  position: relative;
  margin-right: auto;
  margin-bottom: 3.125rem;
  margin-left: auto;
  max-width: 81.25rem
}

@media print,
screen and (min-width:64em) {
  .sec-contact {
    margin-bottom: 7.5rem
  }
}

.sec-contact.js-ani .breadcrumbs {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-delay: .3s;
  transition-delay: .3s
}

.sec-contact.js-ani .sec-title__title {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-delay: .6s;
  transition-delay: .6s
}

.sec-contact.js-ani .contact__info .cell {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-delay: .9s;
  transition-delay: .9s
}

.sec-contact.js-ani .contact__form__wrap {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s
}

.sec-contact.js-ani .contact__info .cell:nth-child(1) {
  -webkit-transition-delay: .8s;
  transition-delay: .8s
}

.sec-contact.js-ani .contact__info .cell:nth-child(2) {
  -webkit-transition-delay: 1.1s;
  transition-delay: 1.1s
}

.sec-contact.js-ani .contact__info .cell:nth-child(3) {
  -webkit-transition-delay: 1.4s;
  transition-delay: 1.4s
}

.sec-contact.js-ani .contact__form__wrap {
  -webkit-transition-delay: 1.7s;
  transition-delay: 1.7s
}

.sec-contact.js-ani.is-animated .breadcrumbs {
  opacity: 1;
  -webkit-transform: none;
  transform: none
}

.sec-contact.js-ani.is-animated .sec-title__title {
  opacity: 1;
  -webkit-transform: none;
  transform: none
}

.sec-contact.js-ani.is-animated .contact__info .cell {
  opacity: 1;
  -webkit-transform: none;
  transform: none
}

.sec-contact.js-ani.is-animated .contact__form__wrap {
  opacity: 1;
  -webkit-transform: none;
  transform: none
}

.sec-title__title {
  margin-bottom: 2.5rem
}

@media print,
screen and (min-width:40em) {
  .sec-title__title {
    margin-bottom: 5rem
  }
}

.contact__info {
  margin-bottom: 2.25rem
}

.contact__info .circle-icon-box__title {
  font-size: 1.125rem
}

.contact__info .circle-icon-box__item {
  padding: 0;
  margin-bottom: 3.125rem
}

.contact__info .cell:last-child .circle-icon-box__item {
  margin-bottom: 0
}

.contact__info .circle-icon-box__desc {
  text-align: center;
  max-width: 14.375rem;
  margin-right: auto;
  margin-left: auto
}

@media print,
screen and (min-width:40em) {
  .contact__info .circle-icon-box__desc {
    font-size: 1.125rem;
    max-width: 18.75rem
  }
}

.contact__info .circle-icon-box__icon-box::before {
  -webkit-box-shadow: 0 -20px 30px #314273;
  box-shadow: 0 -20px 30px #314273
}

@media print,
screen and (min-width:40em) {
  .contact__form__wrap .form__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
}

.contact__form__wrap .form__label__txt {
  display: block;
  line-height: 1;
  margin-top: 5px;
  font-size: .875rem;
  font-weight: 400
}

@media print,
screen and (min-width:40em) {
  .contact__form__wrap .form__label__txt {
    font-size: 1rem
  }
}

.contact__form__title {
  margin-bottom: 1.25rem;
  font-size: 1.5rem;
  font-weight: 500
}

@media print,
screen and (min-width:40em) {
  .contact__form__title {
    margin-bottom: 3.75rem;
    font-size: 2.25rem
  }
}

.contact__form__form {
  margin-bottom: 1.875rem
}

@media print,
screen and (min-width:64em) {
  .contact__form__form {
    margin-bottom: 3.75rem
  }
}

.contact__form__ctrl .button {
  margin-bottom: 0
}

/*# sourceMappingURL=maps/contact.min.css.map */
