@font-face {
  font-family: "icon";
  src: url("icon.eot?1605767091331");
  src: url("icon.eot?#iefix-1605767091331") format("embedded-opentype"), url("icon.woff2?1605767091331") format("woff2"), url("icon.woff?1605767091331") format("woff"), url("icon.ttf?1605767091331") format("truetype"), url("icon.svg?1605767091331#icon") format("svg");
  font-display: block;
  unicode-range: U+EA01-EA1B;
}

.be-icon:before {
  font-family: "icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  line-height: 1em;
  margin-left: .2em;
}

/* Glyphs list */
.be-icon-address:before {
  content: '\ea01';
}

.be-icon-arrow-down:before {
  content: '\ea02';
}

.be-icon-arrow-left:before {
  content: '\ea03';
}

.be-icon-arrow-right:before {
  content: '\ea04';
}

.be-icon-arrow-up:before {
  content: '\ea05';
}

.be-icon-backup-cart:before {
  content: '\ea06';
}

.be-icon-car:before {
  content: '\ea07';
}

.be-icon-cart-camera:before {
  content: '\ea08';
}

.be-icon-close:before {
  content: '\ea09';
}

.be-icon-fb:before {
  content: '\ea0a';
}

.be-icon-ig:before {
  content: '\ea0b';
}

.be-icon-insurance:before {
  content: '\ea0c';
}

.be-icon-mail:before {
  content: '\ea0d';
}

.be-icon-maintenance:before {
  content: '\ea0e';
}

.be-icon-news-release:before {
  content: '\ea0f';
}

.be-icon-notice-circle:before {
  content: '\ea10';
}

.be-icon-payment:before {
  content: '\ea11';
}

.be-icon-phone:before {
  content: '\ea12';
}

.be-icon-promotion:before {
  content: '\ea13';
}

.be-icon-road-assistance:before {
  content: '\ea14';
}

.be-icon-search:before {
  content: '\ea15';
}

.be-icon-service:before {
  content: '\ea16';
}

.be-icon-setting:before {
  content: '\ea17';
}

.be-icon-term:before {
  content: '\ea18';
}

.be-icon-time-cost:before {
  content: '\ea19';
}

.be-icon-tool:before {
  content: '\ea1a';
}

.be-icon-unlimited:before {
  content: '\ea1b';
}
