<main class="main-wrapper" #newsComponent>
    <app-loader></app-loader>
    <!-- [START] Page Content-->
    <div class="grid-container js-ani" appIsAni>
    <div class="top-banner top-banner--news" [ngStyle]="{backgroundImage:'url(assets/images/banner/news.jpg)'}" ></div>
    </div>
    <nav class="grid-container js-ani" aria-label="You are here:" appIsAni>
    <ol class="breadcrumbs" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
        <li class="breadcrumb_item" itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a itemprop="item" routerLink="/"><span itemprop="name">Home</span></a><i class="be-icon be-icon-arrow-right" aria-hidden="true"></i>
        <meta itemprop="position" content="1"/>
        </li>
        <li class="breadcrumb_item" itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Now Page：</span><span itemprop="name">News</span>
        <meta itemprop="position" content="2"/>
        </li>
    </ol>
    </nav>
    <div class="radius-bar-deco top-right">
    <div class="radius-bar-group">
        <div class="radius-bar size-l opacity-20"></div>
        <div class="radius-bar size-m opacity-25 offset-left-10"></div>
    </div>
    </div>
    <section class="sec-news news-list js-ani" appIsAni>
    <div class="radius-bar-deco bottom-left">
        <div class="radius-bar-group">
        <div class="radius-bar size-m opacity-10"></div>
        <div class="radius-bar size-s opacity-10 offset-right-10"></div>
        <div class="radius-bar size-xs opacity-10 offset-right-5"></div>
        </div>
    </div>
    <div class="grid-container">
        <h2 class="sec-title__title text-center">News</h2>
        <!-- [START] 新聞列表空值-->
        <div class="news-list__empty js-ani" *ngIf="!topList" appIsAni >
            <hr class="sec-divide divide--top">
            <div class="news-list__empty__icon text-center"><i class="be-icon be-icon-news-release-zero" aria-hidden="true"></i></div>
            <p class="news-list__empty__desc text-center">There are no current news at the moment.</p>
        </div>
        <!-- [END] 新聞列表空值-->
        <div class="swiper-box news-swiper" *ngIf="topList">
            <div class="swiper-container" id="news-carousel" #newsCarousel>
                <div class="swiper-wrapper" >
                    <!-- [Start] topList Array Data 0~2 -->
                    <div class="swiper-slide news__item" *ngFor="let news of topList; let i = index">
                        <a class="card-box" [routerLink]="['/news-content', news.id ]" title="{{ news.title }}"  >
                            <div class="hover-refl"><span class="hover-refl__light"></span></div>
                            <div class="card-box__img-box object-fit">
                                <img class="cart__item__cover-img lazyload" [src]="news.listingImageUrl" alt="{{ news.title }}"/>
                            </div>
                            <div class="card-box__text-box indent">
                                <p class="card-box__type" [innerHTML]="news.typeName"></p>
                                <h3 class="card-box__title"><span class="clamp-3">{{ news.title }}</span></h3>
                                <p class="card-box__date">{{ news.displayDate | date}}</p>
                            </div>
                        </a>
                    </div>
                    <!-- [End] topList Array Data 0~2 -->
                    
                </div>
            </div>
            <div class="swiper-pagination" #newsSwiperPagination></div>
        </div>
        <div class="news-list__box js-ani" appIsAni >
            <!-- [Start] downList Array Data 3~ -->
            <div *ngIf="downList">
                <a class="card-box" [routerLink]="['/news-content', news.id]" title="{{ news.title }}" *ngFor="let news of downList; let i = index">
                    <div class="hover-refl"><span class="hover-refl__light"></span></div>
                    <div class="card-box__img-box object-fit">
                        <img class="cart__item__cover-img lazyload" [src]="news.listingImageUrl" alt="{{ news.title }}"/>
                    </div>
                    <div class="card-box__text-box indent">
                        <p class="card-box__type" [innerHTML]="news.typeName"></p>
                        <h3 class="card-box__title"><span class="clamp-3">{{ news.title }}</span></h3>
                        <p class="card-box__date">{{ news.displayDate | date}}</p>
                    </div>
                </a>
            </div>
            <!-- [End] downList Array Data 3~ -->
        </div>
        <!-- <div class="loading">
        <div class="loading__dot"></div>
        <div class="loading__dot"></div>
        <div class="loading__dot"></div>
        <div class="loading__dot move"></div>
        </div> -->
    </div>
    </section>
    <!-- [END] Page Content-->
</main>
