<main class="main-wrapper">
    <!-- [START] Page Content-->
    <div class="grid-container js-ani ready" appIsAni>
        <div class="top-banner top-banner--models" [ngStyle]="{backgroundImage:'url(assets/images/banner/models.jpg)'}"></div>
    </div>
    <nav class="grid-container js-ani ready" aria-label="You are here:" appIsAni>
        <ol class="breadcrumbs" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
            <li class="breadcrumb_item" itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/">
                    <span itemprop="name">Home</span>
                </a>
                <i class="be-icon be-icon-arrow-right" aria-hidden="true"></i>
                <meta itemprop="position" content="1"/>
            </li>
            <li class="breadcrumb_item" itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem">
                <span class="show-for-sr" aria-current="page">Now Page：</span>
                <span itemprop="name">All Models</span>
                <meta itemprop="position" content="2"/>
            </li>
        </ol>
    </nav>
    <div class="radius-bar-deco top-right">
        <div class="radius-bar-group">
            <div class="radius-bar size-l opacity-20"></div>
            <div class="radius-bar size-m opacity-25 offset-left-10"></div>
        </div>
    </div>
    <section class="sec-models models-list js-ani ready" appIsAni>
        <div class="radius-bar-deco bottom-left">
            <div class="radius-bar-group">
                <div class="radius-bar size-m opacity-10"></div>
                <div class="radius-bar size-s opacity-10 offset-right-10"></div>
                <div class="radius-bar size-xs opacity-10 offset-right-5"></div>
            </div>
        </div>
    <div class="grid-container">
        <h2 class="sec-title__title text-center">All Models</h2>
        <div class="search__wrapper">
        <div class="search__group">
            <input class="search__input" type="text" value="Search" placeholder="Search"/><i class="be-icon be-icon-search" aria-hidden="true"></i>
        </div>
        </div>
        <div class="sort__wrapper">
        <div class="sort__item">
            <div class="sort__label">Brand</div>
            <!-- 打開請加上 is-open-->
            <div class="sort__select">
            <div class="sort__select-selected"> All<i class="be-icon be-icon-arrow-down" aria-hidden="true"></i></div>
            <ul class="sort__select-list scrollbar-ver is-thin">
                <li class="sort__select-list__item">All</li>
                <li class="sort__select-list__item">All</li>
                <li class="sort__select-list__item">All</li>
                <li class="sort__select-list__item">All</li>
            </ul>
            </div>
        </div>
        <div class="sort__item">
            <div class="sort__label">Category</div>
            <!-- 打開請加上 is-open-->
            <div class="sort__select is-open">
            <div class="sort__select-selected"> All<i class="be-icon be-icon-arrow-down" aria-hidden="true"></i></div>
            <ul class="sort__select-list scrollbar-ver is-thin">
                <li class="sort__select-list__item">All</li>
                <li class="sort__select-list__item">All</li>
                <li class="sort__select-list__item">All</li>
                <li class="sort__select-list__item">All</li>
            </ul>
            </div>
        </div>
        </div>
        <div class="cart__box">
        <div class="cart__item"><a class="cart__item__link" href="models-content.html" title="C-HR">
            <div class="hover-refl"><span class="hover-refl__light"></span></div>
            <h2 class="cart__item__type">C-HR</h2>
            <div class="cart__item__cover object-fit-contain"><img class="cart__item__cover-img lazyload" src="assets/images/products/car_01.png" alt="C-HR"/></div>
            <div class="cart__item__briefs text-center">
                <p class="cart__item__brief">5 Seater Compact Sedan</p>
                <p class="cart__item__brief">
                    from $<span class="cart__item__price">1,220</span>per month</p>
                <p class="cart__item__brief">(with COE)</p>
            </div>
            <div class="cart__item__divide"></div>
            <div class="cart__item__wrap text-center">
                <div class="cart__item__info">Capacity (cc): 
                <h3 class="highlight">1496 </h3>
                </div>
                <div class="cart__item__info">Max Power (KW (bhp)/ rpm):
                <h3 class="highlight">79 (105) / 6,000 </h3>
                </div>
                <div class="cart__item__info">Fuel consumption (L/100KM):
                <h3 class="highlight">5.8</h3>
                </div>
            </div></a></div>
        <div class="cart__item"><a class="cart__item__link" href="models-content.html" title="Vios">
            <div class="hover-refl"><span class="hover-refl__light"></span></div>
            <h2 class="cart__item__type">Vios</h2>
            <div class="cart__item__cover object-fit-contain"><img class="cart__item__cover-img lazyload" src="assets/images/products/car_02.png" alt="Vios"/></div>
            <div class="cart__item__briefs text-center">
                <p class="cart__item__brief">5 Seater Compact Sedan</p>
                <p class="cart__item__brief">
                    from $<span class="cart__item__price">1,220</span>per month</p>
                <p class="cart__item__brief">(with COE)</p>
            </div>
            <div class="cart__item__divide"></div>
            <div class="cart__item__wrap text-center">
                <div class="cart__item__info">Capacity (cc): 
                <h3 class="highlight">1496 </h3>
                </div>
                <div class="cart__item__info">Max Power (KW (bhp)/ rpm):
                <h3 class="highlight">79 (105) / 6,000 </h3>
                </div>
                <div class="cart__item__info">Fuel consumption (L/100KM):
                <h3 class="highlight">5.8</h3>
                </div>
            </div></a></div>
        <div class="cart__item"><a class="cart__item__link" href="models-content.html" title="Previa Aeras">
            <div class="hover-refl"><span class="hover-refl__light"></span></div>
            <h2 class="cart__item__type">Previa Aeras</h2>
            <div class="cart__item__cover object-fit-contain"><img class="cart__item__cover-img lazyload" src="assets/images/products/car_03.png" alt="Previa Aeras"/></div>
            <div class="cart__item__briefs text-center">
                <p class="cart__item__brief">5 Seater Compact Sedan</p>
                <p class="cart__item__brief">
                    from $<span class="cart__item__price">1,220</span>per month</p>
                <p class="cart__item__brief">(with COE)</p>
            </div>
            <div class="cart__item__divide"></div>
            <div class="cart__item__wrap text-center">
                <div class="cart__item__info">Capacity (cc): 
                <h3 class="highlight">1496 </h3>
                </div>
                <div class="cart__item__info">Max Power (KW (bhp)/ rpm):
                <h3 class="highlight">79 (105) / 6,000 </h3>
                </div>
                <div class="cart__item__info">Fuel consumption (L/100KM):
                <h3 class="highlight">5.8</h3>
                </div>
            </div></a></div>
        <div class="cart__item"><a class="cart__item__link" href="models-content.html" title="C-HR">
            <div class="hover-refl"><span class="hover-refl__light"></span></div>
            <h2 class="cart__item__type">C-HR</h2>
            <div class="cart__item__cover object-fit-contain"><img class="cart__item__cover-img lazyload" src="assets/images/products/car_01.png" alt="C-HR"/></div>
            <div class="cart__item__briefs text-center">
                <p class="cart__item__brief">5 Seater Compact Sedan</p>
                <p class="cart__item__brief">
                    from $<span class="cart__item__price">1,220</span>per month</p>
                <p class="cart__item__brief">(with COE)</p>
            </div>
            <div class="cart__item__divide"></div>
            <div class="cart__item__wrap text-center">
                <div class="cart__item__info">Capacity (cc): 
                <h3 class="highlight">1496 </h3>
                </div>
                <div class="cart__item__info">Max Power (KW (bhp)/ rpm):
                <h3 class="highlight">79 (105) / 6,000 </h3>
                </div>
                <div class="cart__item__info">Fuel consumption (L/100KM):
                <h3 class="highlight">5.8</h3>
                </div>
            </div></a></div>
        <div class="cart__item"><a class="cart__item__link" href="models-content.html" title="Vios">
            <div class="hover-refl"><span class="hover-refl__light"></span></div>
            <h2 class="cart__item__type">Vios</h2>
            <div class="cart__item__cover object-fit-contain"><img class="cart__item__cover-img lazyload" src="assets/images/products/car_02.png" alt="Vios"/></div>
            <div class="cart__item__briefs text-center">
                <p class="cart__item__brief">5 Seater Compact Sedan</p>
                <p class="cart__item__brief">
                    from $<span class="cart__item__price">1,220</span>per month</p>
                <p class="cart__item__brief">(with COE)</p>
            </div>
            <div class="cart__item__divide"></div>
            <div class="cart__item__wrap text-center">
                <div class="cart__item__info">Capacity (cc): 
                <h3 class="highlight">1496 </h3>
                </div>
                <div class="cart__item__info">Max Power (KW (bhp)/ rpm):
                <h3 class="highlight">79 (105) / 6,000 </h3>
                </div>
                <div class="cart__item__info">Fuel consumption (L/100KM):
                <h3 class="highlight">5.8</h3>
                </div>
            </div></a></div>
        <div class="cart__item"><a class="cart__item__link" href="models-content.html" title="C-HR">
            <div class="hover-refl"><span class="hover-refl__light"></span></div>
            <h2 class="cart__item__type">C-HR</h2>
            <div class="cart__item__cover object-fit-contain"><img class="cart__item__cover-img lazyload" src="assets/images/products/car_01.png" alt="C-HR"/></div>
            <div class="cart__item__briefs text-center">
                <p class="cart__item__brief">5 Seater Compact Sedan</p>
                <p class="cart__item__brief">
                    from $<span class="cart__item__price">1,220</span>per month</p>
                <p class="cart__item__brief">(with COE)</p>
            </div>
            <div class="cart__item__divide"></div>
            <div class="cart__item__wrap text-center">
                <div class="cart__item__info">Capacity (cc): 
                <h3 class="highlight">1496 </h3>
                </div>
                <div class="cart__item__info">Max Power (KW (bhp)/ rpm):
                <h3 class="highlight">79 (105) / 6,000 </h3>
                </div>
                <div class="cart__item__info">Fuel consumption (L/100KM):
                <h3 class="highlight">5.8</h3>
                </div>
            </div></a></div>
        <div class="cart__item"><a class="cart__item__link" href="models-content.html" title="Previa Aeras">
            <div class="hover-refl"><span class="hover-refl__light"></span></div>
            <h2 class="cart__item__type">Previa Aeras</h2>
            <div class="cart__item__cover object-fit-contain"><img class="cart__item__cover-img lazyload" src="https://ipsumimage.appspot.com/792x560" alt="Previa Aeras"/></div>
            <div class="cart__item__briefs text-center">
                <p class="cart__item__brief">5 Seater Compact Sedan</p>
                <p class="cart__item__brief">
                    from $<span class="cart__item__price">1,220</span>per month</p>
                <p class="cart__item__brief">(with COE)</p>
            </div>
            <div class="cart__item__divide"></div>
            <div class="cart__item__wrap text-center">
                <div class="cart__item__info">Capacity (cc): 
                <h3 class="highlight">1496 </h3>
                </div>
                <div class="cart__item__info">Max Power (KW (bhp)/ rpm):
                <h3 class="highlight">79 (105) / 6,000 </h3>
                </div>
                <div class="cart__item__info">Fuel consumption (L/100KM):
                <h3 class="highlight">5.8</h3>
                </div>
            </div></a></div>
        </div>
        <div class="loading">
        <div class="loading__dot"></div>
        <div class="loading__dot"></div>
        <div class="loading__dot"></div>
        <div class="loading__dot move"></div>
        </div>
    </div>
    </section>
    <!-- [END] Page Content-->
</main>
