<main class="main-wrapper" #modelsComponent>
    <app-loader></app-loader>
    <!-- [START] Page Content-->
    <div class="grid-container js-ani" appIsAni>
        <div class="top-banner top-banner--models" [ngStyle]="{backgroundImage:'url(assets/images/banner/models.jpg)'}"></div>
    </div>
    <nav class="grid-container js-ani" aria-label="You are here:" appIsAni>
        <ol class="breadcrumbs" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
            <li class="breadcrumb_item" itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem">
                <a itemprop="item" routerLink="/">
                    <span itemprop="name">Home</span>
                </a>
                <i class="be-icon be-icon-arrow-right" aria-hidden="true"></i>
                <meta itemprop="position" content="1"/>
            </li>
            <li class="breadcrumb_item" itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem">
                <span class="show-for-sr" aria-current="page">Now Page：</span>
                <span itemprop="name">All Models</span>
                <meta itemprop="position" content="2"/>
            </li>
        </ol>
    </nav>
    <div class="radius-bar-deco top-right">
        <div class="radius-bar-group">
            <div class="radius-bar size-l opacity-20"></div>
            <div class="radius-bar size-m opacity-25 offset-left-10"></div>
        </div>
    </div>
    <section class="sec-models models-list js-ani" appIsAni>
        <div class="radius-bar-deco bottom-left">
            <div class="radius-bar-group">
                <div class="radius-bar size-m opacity-10"></div>
                <div class="radius-bar size-s opacity-10 offset-right-10"></div>
                <div class="radius-bar size-xs opacity-10 offset-right-5"></div>
            </div>
        </div>
    <div class="grid-container">
        <h2 class="sec-title__title text-center">All Models</h2>
        <div class="search__wrapper">
            <div class="search__group">
                <input class="search__input" type="text" placeholder="Search" [(ngModel)]="searchString" (ngModelChange)="onModelsSearch($event)"/>
                <!-- 點擊放大鏡也可以搜尋-->
                <button class="search__search"><i class="be-icon be-icon-search" aria-hidden="true" (click)="onModelsSearch(searchString)"></i></button>
                <!-- 當 .search__input 有值時，出現 button.search__delete，點擊請刪除 .search__input 輸入的值。沒有輸入值時請隱藏 button.search__delete-->
                <button class="search__delete" *ngIf="searchString" (click)="searchString = ''; onModelsSearch(searchString)"><i class="be-icon be-icon-close" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="sort__wrapper">
        <div class="sort__item">
            <div class="sort__label">Brand</div>
            <!-- 打開請加上 is-open-->
            <div class="sort__select" [ngClass]="{'is-open': brandOpen }">
            <div class="sort__select-selected" (click)="brandOpen = !brandOpen"> {{ selectBrand }}<i class="be-icon be-icon-arrow-down" aria-hidden="true"></i></div>
            <ul class="sort__select-list scrollbar-ver is-thin">
                <!-- [Start] Brand Array Data -->
                <li class="sort__select-list__item" *ngFor="let brand of brandList; let i = index" (click)="selectBrand = brand.name; brandOpen = !brandOpen "><a class="sort__select-list__link">{{ brand.name }}</a></li>
                <!-- [End] Brand Array Data -->
            </ul>
            </div>
        </div>
        <div class="sort__item">
            <div class="sort__label">Category</div>
            <!-- 打開請加上 is-open-->
            <div class="sort__select" [ngClass]="{'is-open': cateOpen }">
            <div class="sort__select-selected" (click)="cateOpen = !cateOpen"> {{ selectCate }}<i class="be-icon be-icon-arrow-down" aria-hidden="true"></i></div>
            <ul class="sort__select-list scrollbar-ver is-thin">
                <!-- [Start] Category Array Data -->
                <li class="sort__select-list__item" *ngFor="let category of cateList; let i = index" (click)="selectCate = category.name; cateOpen = !cateOpen "><a class="sort__select-list__link">{{ category.name }}</a></li>
                <!-- [End] Category Array Data -->
            </ul>
            </div>
        </div>
        </div>
        <div class="cart__box">
            <!-- [Start] AllModels Array Data -->
            <div class="cart__item" *ngFor="let item of showList | modelFilterBrand: selectBrand | modelFilterCate: selectCate; let i = index ">
                <a class="cart__item__link" [routerLink]="['/models-content', item.id ]"  title="{{item.name}}">
                    <div class="hover-refl"><span class="hover-refl__light"></span></div>
                    <h2 class="cart__item__type">{{ item.name }}</h2>
                    <div class="cart__item__cover object-fit-contain"><img class="cart__item__cover-img lazyload" src="{{item.secondaryImageUrl}}" alt="{{item.name}}"/></div>
                    <div class="cart__item__briefs text-center" *ngIf="item.variants[0].seats && item.minOlPrice">
                        <p class="cart__item__brief">{{ item.variants[0].seats }} Seater {{ item.category }}</p>
                        <p class="cart__item__brief">
                            from $<span class="cart__item__price">{{ item.minOlPrice | number: '2.' }}</span>per month</p>
                        <p class="cart__item__brief">(with COE)</p>
                    </div>
                    <div class="cart__item__divide"></div>
                    <div class="cart__item__wrap text-center">
                        <div class="cart__item__info">Capacity (cc): 
                        <h3 class="highlight">{{ item.variants[0].capacity | number: '2.' }} </h3>
                        </div>
                        <div class="cart__item__info">Max Power (KW (bhp)/ rpm):
                        <h3 class="highlight">{{ item.variants[0].maxPower }} </h3>
                        </div>
                        <div class="cart__item__info">Fuel consumption (L/100KM):
                        <h3 class="highlight">{{ item.variants[0].fuelConsumptions }}</h3>
                        </div>
                    </div>
                </a>
            </div>
            <!-- [End] AllModels Array Data -->
        </div>
        <div class="loading">
        <div class="loading__dot"></div>
        <div class="loading__dot"></div>
        <div class="loading__dot"></div>
        <div class="loading__dot move"></div>
        </div>
    </div>
    </section>
    <!-- [END] Page Content-->
</main>
