<main class="main-wrapper" #formComponent>
    <app-loader></app-loader>
    <!-- [START] Page Content-->
    <div class="radius-bar-deco top-right">
    <div class="radius-bar-group">
        <div class="radius-bar size-l opacity-20"></div>
        <div class="radius-bar size-m opacity-25 offset-left-10"></div>
    </div>
    </div>
    <section class="sec-term application-form js-ani" appIsAni>
    <div class="radius-bar-deco bottom-left">
        <div class="radius-bar-group">
        <div class="radius-bar size-m opacity-10"></div>
        <div class="radius-bar size-s opacity-10 offset-right-10"></div>
        <div class="radius-bar size-xs opacity-10 offset-right-5"></div>
        </div>
    </div>
    <div class="grid-container">
        <a class="goback" (click)="onStartAgain()">
            <i class="be-icon be-icon-arrow-left" aria-hidden="true"></i>
            <span class="goback__txt">Start again</span>
        </a>
        <div class="step">
        <div class="step-item">
            <div class="step-item__num">1</div>
            <h3 class="step-item__title">Term & <br class="large-down">Condition</h3>
        </div>
        <div class="step-item is-active">
            <div class="step-item__num">2</div>
            <h3 class="step-item__title">Application <br class="large-down">Form</h3>
        </div>
        <div class="step-item">
            <div class="step-item__num">3</div>
            <h3 class="step-item__title">Application <br class="large-down">Submitted</h3>
        </div>
        </div>
        <form class="form" id="applicationForm" [formGroup]="applyForm" (ngSubmit)="onSubmit()" *ngIf="applyForm">
            <div class="term">
                <hr class="sec-divide divide--top">
                <div class="application-form__wrap">
                <div class="application-form__form">
                    <p class="term__str text-center">Fill up the form below to access your credit eligibility. As part of the submission, a credit bureau check is performed to ensure that we can provide you with a reliable eligibility assessment.</p>
                    <div class="form__row">
                        <div class="form__group is-error">
                            <label class="form__label">First Name</label>
                            <input class="form__input" type="text" placeholder="First Name" formControlName="firstName">
                            <p class="form__error" *ngIf="!applyForm.get('firstName').valid && applyForm.get('firstName').touched">First Name is required</p>
                        </div>
                        <div class="form__group is-error">
                            <label class="form__label">Last Name</label>
                            <input class="form__input" type="text" placeholder="Last Name" formControlName="lastName">
                            <p class="form__error" *ngIf="!applyForm.get('lastName').valid && applyForm.get('lastName').touched">Last Name is required</p>
                        </div>
                    </div>
                    <div class="form__row">
                        <div class="form__group is-error">
                            <label class="form__label">NRIC</label>
                            <input class="form__input" type="text" placeholder="NRIC" formControlName="NRIC">
                            <p class="form__error" *ngIf="!applyForm.get('NRIC').valid && applyForm.get('NRIC').touched">NRIC is not valid. Please provide a valid NRIC. Eg. S1234567A</p>
                        </div>
                        <div class="form__group is-error">
                            <label class="form__label">Mobile Number</label>
                            <div class="select__group">
                                <div class="sort__item">
                                    <div class="sort__select" [ngClass]="{'is-open': isOpenNum}" (click)="isOpenNum = !isOpenNum">
                                        <div class="sort__select-selected"> {{selectedNum}}<i class="be-icon be-icon-arrow-down" aria-hidden="true"></i>
                                        </div>
                                        <ul class="sort__select-list scrollbar-ver is-thin">
                                            <!-- 當前項目請加上 .is-active，當點擊項目後，移除 .sort__select 的 .is-open-->
                                            <li class="sort__select-list__item" *ngFor="let num of numberList; let i = index" [ngClass]="{'is-active': num === selectedNum}" (click)="selectedNum = num"><a class="sort__select-list__link" href="javascript:;">{{ num }}</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <input class="form__input" type="text" placeholder="Mobile Number" formControlName="number">
                            </div>
                            <p class="form__error" *ngIf="!applyForm.get('number').valid && applyForm.get('number').touched">Mobile number is not valid. Please provide a valid mobile number. Eg. 98765432</p>
                        </div>
                    </div>
                    <div class="form__row">
                        <div class="form__group is-error">
                            <label class="form__label">Email</label>
                            <input class="form__input" type="text" placeholder="Email" formControlName="email">
                            <p class="form__error" *ngIf="!applyForm.get('email').valid && applyForm.get('email').touched">Email address is not valid. Please provide a valid email address. Eg. xxx@123.com</p>
                        </div>
                    </div>
                </div>
                <h3 class="application-form__title text-center">Rental Details</h3>
                <div class="model__box card-box" *ngIf="orderModel">
                    <div class="model__cover object-fit-contain"><img class="cart__item__cover-img lazyload" [src]="orderModel.colorImage" alt="{{ orderModel.carName }}"></div>
                    <div class="model__box__inner">
                    <div class="model__config model__config--detial scrollbar-model is-thin">
                        <div class="model__config__item">
                        <div class="model__config__label">Exterior color</div>
                        <div class="model__config__info palette">
                            <div class="palette__item">
                            <label class="palette__icon">
                                <div class="palette__icon__label"><span class="palette__icon__label-item" [ngStyle]="{ 'background-color': orderModel.colorNumber }"></span>
                                </div>
                            </label>
                            <h3 class="model__config__info-title">{{ orderModel.colorName }}</h3>
                            </div>
                        </div>
                        </div>
                        <div class="model__config__item">
                        <div class="model__config__label">Interior</div>
                        <div class="model__config__info palette">
                            <div class="palette__item">
                            <label class="palette__icon">
                                <div class="palette__icon__label">
                                    <img class="palette__icon__label-item" [src]="'data:image/jpeg;base64,'+ orderModel.interiorNumber" *ngIf="orderModel.interiorNumber" alt="{{ orderModel.interiorName }}">
                                    <img class="palette__icon__label-item" [src]="orderModel.interiorNumberUrl" *ngIf="orderModel.interiorNumberUrl" alt="{{ orderModel.interiorName }}">
                                </div>
                            </label>
                            <h3 class="model__config__info-title">{{ orderModel.interiorName }}</h3>
                            </div>
                        </div>
                        </div>
                        <div class="model__config__item model__config__item--variant">
                        <div class="model__config__label">Variant</div>
                        <div class="model__config__info">
                            <h3 class="model__config__info-title">{{ orderModel.variantName }}</h3>
                        </div>
                        </div>
                        <div class="model__config__item model__config__item--tenure">
                        <div class="model__config__label">
                            Tenure</div>
                        <div class="model__config__info">
                            <h3 class="model__config__info-title">{{ orderModel.tenure }} Years</h3>
                        </div>
                        </div>
                    </div>
                    <div class="model__config model__config--price">
                        <div class="model__config__item model__config__item--refundable">
                        <div class="model__config__label">Refundable Security Deposit
                            <div class="tooltip-wrapper"><span class="tooltip__icon" data-toggle="tooltip-refundable"><i class="be-icon be-icon-notice-circle"></i></span>
                            <div class="dropdown-pane" id="tooltip-refundable" data-dropdown="data-dropdown" data-position="top" data-alignment="center" data-hover="true" data-hover-pane="true">
                                <div class="tooltip__box"><strong>Note</strong>You will receive a link to make payment for a two months refundable security deposit amount after your credit has been approved. The security deposit will be refunded at the end of the lease tenure. T&amp;Cs apply.</div>
                            </div>
                            </div>
                        </div>
                        <div class="model__config__info">
                            <h3 class="model__config__info-title">$ {{ orderModel.securityDeposit | number: '2.' }}</h3>
                        </div>
                        </div>
                        <div class="model__config__item model__config__item--rental">
                        <div class="model__config__label">Monthly Rental Amount
                            <div class="tooltip-wrapper"><span class="tooltip__icon" data-toggle="tooltip-rental"><i class="be-icon be-icon-notice-circle"></i></span>
                            <div class="dropdown-pane" id="tooltip-rental" data-dropdown="data-dropdown" data-position="top" data-alignment="center" data-hover="true" data-hover-pane="true">
                                <div class="tooltip__box"><strong>Note</strong>Monthly rates are inclusive of annual Road Tax, comprehensive motor insurance , scheduled maintenance and replacement vehicle. Toyota Financial Services Singapore reserves the right to change the monthly lease rates without prior notice. T&amp;Cs apply.</div>
                            </div>
                            </div>
                        </div>
                        <div class="model__config__info">
                            <h3 class="model__config__info-title highlight">$ {{ orderModel.monthlyAmount | number: '2.' }}</h3>/ month
                        </div>
                        <p class="model__config__notice">* Rate shown is subjected to 7% GST.</p>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                <hr class="sec-divide divide--bottom">
                <div class="term__ctrl"><a class="button btn-lightest" title="Cancel" (click)="onStartAgain()">Cancel</a>
                <button class="button" type="submit" [disabled]="!applyForm.valid">Submit</button>
                </div>
            </div>
        </form>
    </div>
    </section>
    <!-- [END] Page Content-->
</main>
