<main class="main-wrapper">
    <!-- [START] Page Content-->
    <div class="radius-bar-deco top-right">
    <div class="radius-bar-group">
        <div class="radius-bar size-l opacity-20"></div>
        <div class="radius-bar size-m opacity-25 offset-left-10"></div>
    </div>
    </div>
    <section class="sec-term application-submitted js-ani ready" appIsAni>
    <div class="radius-bar-deco bottom-left">
        <div class="radius-bar-group">
        <div class="radius-bar size-m opacity-10"></div>
        <div class="radius-bar size-s opacity-10 offset-right-10"></div>
        <div class="radius-bar size-xs opacity-10 offset-right-5"></div>
        </div>
    </div>
    <div class="grid-container"><a class="goback" href="javascript:;"><i class="be-icon be-icon-arrow-left" aria-hidden="true"></i><span class="goback__txt">Start again</span></a>
        <div class="step">
        <div class="step-item">
            <div class="step-item__num">1</div>
            <h3 class="step-item__title">Term & <br class="large-down">Condition</h3>
        </div>
        <div class="step-item">
            <div class="step-item__num">2</div>
            <h3 class="step-item__title">Application <br class="large-down">Form</h3>
        </div>
        <div class="step-item is-active">
            <div class="step-item__num">3</div>
            <h3 class="step-item__title">Application <br class="large-down">Submitted</h3>
        </div>
        </div>
        <div class="term">
        <hr class="sec-divide divide--top">
        <div class="application-submitted__wrap">
            <div class="term__icon text-center"><i class="be-icon be-icon-term" aria-hidden="true"></i></div>
            <h3 class="term__title text-center">Application completed successfully</h3>
            <p class="term__str text-center">Thank you for your application. Upon confirmation of your credit approval, <br class="large">you will receive an email link to make payment for the security deposit to confirm the lease of your vehicle.</p>
            <div class="application-submitted__box">
            <h3 class="application-submitted__title text-center">Your application number</h3>
            <p class="application-submitted__code form__input">CFWG_5862</p>
            </div>
        </div>
        <div class="term__ctrl"><a class="button" href="index.html" title="Back to Homepage">Back to Homepage</a></div>
        </div>
    </div>
    </section>
    <!-- [END] Page Content-->
</main>
