<main class="main-wrapper" #faqComponent>
    <app-loader></app-loader>
    <!-- [START] Page Content-->
    <nav class="grid-container js-ani" aria-label="You are here:" appIsAni>
    <ol class="breadcrumbs" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
        <li class="breadcrumb_item" itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a itemprop="item" routerLink="/"><span itemprop="name">Home</span></a><i class="be-icon be-icon-arrow-right" aria-hidden="true"></i>
        <meta itemprop="position" content="1"/>
        </li>
        <li class="breadcrumb_item" itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><span class="show-for-sr" aria-current="page">Now Page：</span><span itemprop="name">FAQ</span>
        <meta itemprop="position" content="2"/>
        </li>
    </ol>
    </nav>
    <div class="radius-bar-deco top-right">
        <div class="radius-bar-group">
            <div class="radius-bar size-l opacity-20"></div>
            <div class="radius-bar size-m opacity-25 offset-left-10"></div>
        </div>
    </div>
    <section class="sec-faq faq-list js-ani" appIsAni>
        <div class="radius-bar-deco bottom-left">
            <div class="radius-bar-group">
            <div class="radius-bar size-m opacity-10"></div>
            <div class="radius-bar size-s opacity-10 offset-right-10"></div>
            <div class="radius-bar size-xs opacity-10 offset-right-5"></div>
            </div>
        </div>
        <div class="grid-container">
            <h2 class="sec-title__title text-center">Frequently Asked Questions</h2>
            <div class="search__wrapper">
            <div class="search__group">
                <input class="search__input" type="text" placeholder="Search" [(ngModel)]="searchString" (ngModelChange)="onFaqSearch($event)"/>
                <!-- 點擊放大鏡也可以搜尋-->
                <button class="search__search"><i class="be-icon be-icon-search" aria-hidden="true" (click)="onFaqSearch(searchString)"></i></button>
                <!-- 當 .search__input 有值時，出現 button.search__delete，點擊請刪除 .search__input 輸入的值。沒有輸入值時請隱藏 button.search__delete-->
                <button class="search__delete" *ngIf="searchString" (click)="searchString = ''; onFaqSearch(searchString)"><i class="be-icon be-icon-close" aria-hidden="true"></i></button>
            </div>
            </div>
            <div class="faq__wrapper grid-x">
            <div class="cell large-shrink">
                <aside class="faq__aside">
                <!-- 1024 (含)以上，請判斷以下兩點：-->
                <!-- 1. 請判斷頁面下滑 header 出現白底樣式後，當 header的底部藍線 +10px 等於 .faq__aside__menu 高度時，請在 .faq__aside__menu 加上 is-fixed class-->
                <!-- 2. 不會壓在 footer 上面，請判斷頁面滑到 footer 上方 10px 的位置，移除 is-fixed class，並把當前的 scroll 位置加上去，ex: position: relative top: xxx;。請注意這個區塊在「header的底部藍線 +10px」至「footer 上方 10px 的位置」要能 fixed 住。頁面 onload 高度在這區塊時也要加入判斷。-->
                <!-- 1024以下，請移除 is-fixed-->
                <div class="sort__wrapper faq__aside__menu" *ngIf="allList">
                    <div class="sort__item">
                    <!-- 點擊時 .sort__select，請加上 is-open 打開下拉選單-->
                    <!-- 再次點擊 .sort__select，請移除 is-open 收起下拉選單-->
                    <div class="sort__select" [ngClass]="{'is-open': isSelectOpen}" >
                        <div class="sort__select-selected" (click)="isSelectOpen = !isSelectOpen"> {{ showType }} ({{ allList.length }})<i class="be-icon be-icon-arrow-down" aria-hidden="true"></i>
                        </div>
                        <ul class="sort__select-list scrollbar-ver is-thin">
                            <!-- 當前項目請加上 .is-active，當點擊項目後，移除 .sort__select 的 .is-open-->
                            <li class="sort__select-list__item" [ngClass]="{'is-active': showType === 'All' }" (click)="showType = 'All'; isSelectOpen = !isSelectOpen"><a class="sort__select-list__link" >All ({{ allList.length }})</a></li>
                            <li class="sort__select-list__item" [ngClass]="{'is-active': showType === 'Accessories' }" (click)="showType = 'Accessories'; isSelectOpen = !isSelectOpen"><a class="sort__select-list__link" href="javascript:;">Accessories ({{ allList | typeFilterLength: 'Accessories' }})</a></li>
                            <li class="sort__select-list__item" [ngClass]="{'is-active': showType === 'Insurance & Claim Service' }" (click)="showType = 'Insurance & Claim Service'; isSelectOpen = !isSelectOpen"><a class="sort__select-list__link" href="javascript:;">Insurance &amp; Claim Service ({{ allList | typeFilterLength: 'Insurance & Claim Service' }})</a></li>
                            <li class="sort__select-list__item" [ngClass]="{'is-active': showType === 'Payment' }" (click)="showType = 'Payment'; isSelectOpen = !isSelectOpen"><a class="sort__select-list__link" href="javascript:;">Payment ({{ allList | typeFilterLength: 'Payment' }})</a></li>
                            <li class="sort__select-list__item" [ngClass]="{'is-active': showType === 'Others' }" (click)="showType = 'Others'; isSelectOpen = !isSelectOpen"><a class="sort__select-list__link" href="javascript:;">Others ({{ allList | typeFilterLength: 'Others' }})</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
                </aside>
            </div>
            <div class="cell large-auto">
                <div class="faq__box" *ngIf="allList">
                    <!-- [Start] allList Array Data -->
                    <div class="faq__item card-box" [ngClass]="{'is-open': item.open }" *ngFor="let item of allList | typeFilterObject: showType ">
                        <div class="faq__item__head">
                            <span class="faq__item__type">{{ item.typeName }}</span>
                            <h4 class="faq__item__title">{{ item.title }}</h4>
                        </div>
                        <div class="faq__item__body scrollbar-ver is-thin">
                            <div class="cont-editor">
                                <p class="cnt__txt">{{ item.content }}</p>
                            </div>
                        </div>
                        <!-- 點擊 .faq__item__ctrl 展開，請 .faq__item 加上 is-open；再次點擊會收起，請移除 .faq__item 上的 is-open-->
                        <div class="faq__item__ctrl" (click)="item.open = !item.open"></div>
                    </div>
                    <!-- [End] allList Array Data -->
                    <div class="loading">
                        <div class="loading__dot"></div>
                        <div class="loading__dot"></div>
                        <div class="loading__dot"></div>
                        <div class="loading__dot move"></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!-- [END] Page Content-->
</main>
